@model IEnumerable<PepProject.Models.DoctorModel>

@{
    ViewData["Title"] = "Doctor's List";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Doctor's List</h4>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorName)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience)
                </td>
            </tr>
        }
    </tbody>
</table>
